@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@inject AlumniConnect.Front.Services.AuthService AuthService
@inject NavigationManager Nav

<div class="page">
    <div class="sidebar">
        <NavMenushared />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-end align-items-center">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized Context="authContext">
                        <div class="d-flex align-items-center">
                            @* Icône de profil par défaut au lieu d'une image spécifique *@
                            <span class="bi bi-person-circle" style="font-size: 24px; color: white; margin-right: 8px;"></span>
                            <span class="mr-3">@authContext.User.Identity?.Name</span>
                            <a href="#" @onclick="HandleLogout">Déconnexion</a>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/admin/login">Connexion Admin</a>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        Nav.NavigateTo("/admin/login");
    }
}