@inherits LayoutComponentBase


<div class="login-page-container">
    <div class="auth-card">
        @Body @* C'est ici que le contenu de la page Blazor (comme Login.razor) sera inséré. *@
    </div>
</div>

@code {
  

  
}