@inherits LayoutComponentBase

@using AlumniConnect.Front.shared  

@using AlumniConnect.Front.Layout 

@using Microsoft.AspNetCore.Components.Authorization

<main>
    <article class="content px-4">
        @Body
    </article>
</main>